/*Variables*/
/*MAP-GET*/
/* MAP Footer */
body {
  background-image: url(../images/background.png);
  opacity: 0.9; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.html {
  font-size: 62.5%; }

@font-face {
  font-family: 'Rockstyle';
  src: url(../fonts/RockStyle.ttf); }

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoCondensed-Regular.ttf); }

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-image: linear-gradient(to right, #8a72b9, #F6D8D8, #8a72b9);
  padding-bottom: 5px;
  padding-top: 7px; }

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; }
  .social img {
    width: 30px;
    border-radius: 30px; }

/* MAP */
.btn--twitter {
  background-color: #55acee;
  width: 3em;
  height: 3em;
  border-radius: 30em;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #8a72b9; }
  .btn--twitter:hover {
    width: 5em; }

.btn--facebook {
  background-color: #3a5795;
  width: 3em;
  height: 3em;
  border-radius: 30em;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #8a72b9; }
  .btn--facebook:hover {
    width: 5em; }

.btn--instagram {
  background-color: #f7f1f8;
  width: 3em;
  height: 3em;
  border-radius: 30em;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #8a72b9; }
  .btn--instagram:hover {
    width: 5em; }

header {
  background-image: linear-gradient(to right, #F6D8D8, #8a72b9); }

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 50px;
  padding-left: 20px; }
  .name .logo {
    width: 200px;
    margin-bottom: 25px; }
  .name .title {
    font-family: "Rockstyle";
    font-size: 5rem;
    color: #423064; }
  .name a {
    text-decoration: none; }

.pageTitle {
  font-family: "Rockstyle";
  font-size: 3.5rem;
  color: #423064;
  padding-left: 30px;
  padding-top: 20px; }

.navbar {
  background-image: linear-gradient(to right, #F6D8D8, #8a72b9);
  box-shadow: 2px 2px 5px #FFF2F2; }
  .navbar .navbar-toggler {
    color: #F6D8D8 !important; }
  .navbar .offcanvas-body {
    background-image: linear-gradient(to right, #F6D8D8, #8a72b9); }
  .navbar .nav-link {
    font-family: "Roboto";
    font-size: 1.5rem;
    color: #FFF2F2 !important; }
    .navbar .nav-link:hover {
      color: #F6D8D8 !important; }
  .navbar .offcanvas-title {
    font-family: "Roboto";
    font-size: 1.5rem;
    color: #8a72b9; }

.contacto {
  display: grid;
  grid-template-areas: "contacto registro";
  margin: 40px;
  gap: 40px;
  height: 500px; }
  .contacto .row {
    padding: 5px;
    align-items: center;
    justify-content: center; }
  .contacto .formularioContacto {
    grid-area: contacto;
    font-family: "Roboto";
    font-size: 1.2rem;
    color: black;
    background-color: #8a72b9;
    padding: 10px; }
  .contacto .formularioRegistro {
    grid-area: registro;
    font-family: "Roboto";
    font-size: 1.2rem;
    color: black;
    background-color: #F6D8D8;
    padding: 10px; }
  .contacto button {
    margin-top: 30px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #423064;
    background-color: #FFF2F2;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px #8a72b9;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none; }
    .contacto button:hover {
      background-color: #8a72b9;
      box-shadow: 0px 15px 20px #423064;
      color: #FFF2F2;
      transform: translateY(-7px); }
    .contacto button:active {
      transform: translateY(-1px); }

.carousel img {
  width: auto;
  height: 600px;
  object-fit: cover; }

.carousel h2 {
  font-family: "Roboto";
  color: #423064;
  text-shadow: 2px 2px 5px white; }
  .carousel h2:hover {
    color: #8a72b9; }

.carousel h3 {
  font-family: "Roboto";
  color: #423064;
  text-shadow: 2px 2px 5px white; }

.links {
  display: grid;
  grid-template-columns: 10% 20% 10% 20% 10% 20% 10%;
  text-align: center;
  align-items: center;
  margin: 50px; }
  .links .recursos {
    grid-column: 2; }
  .links .about-us {
    grid-column: 4; }
  .links .playlists {
    grid-column: 6; }
  .links .bordesRedondeados {
    width: 100%;
    border-radius: 300px;
    border-style: dotted;
    color: #423064;
    border-width: 4px;
    transition: all 0.3s ease 0s; }
    .links .bordesRedondeados:hover {
      transform: translateY(-7px);
      box-shadow: 0px 8px 15px #8a72b9; }

.petsContent {
  display: grid;
  grid-template-areas: "list pets pets pets" "list pets pets pets" "list pets pets pets"; }
  .petsContent .petMenu {
    grid-area: list;
    font-family: "Roboto";
    font-size: 1.5rem;
    color: #8a72b9;
    list-style: none;
    padding: 10px;
    margin-left: 20px;
    height: 100vh;
    background-color: #FFF2F2; }
    .petsContent .petMenu a {
      color: #8a72b9;
      text-decoration: none; }
      .petsContent .petMenu a:hover {
        color: #423064;
        text-shadow: 0px 8px 15px #8a72b9; }
  .petsContent .petAge {
    margin-left: 10px;
    list-style: none; }
  .petsContent .petPictures {
    grid-area: pets;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    padding-top: 20px; }
    .petsContent .petPictures .flip-card {
      background-color: transparent;
      width: 400px;
      height: 400px;
      perspective: 1000px;
      margin: 2px;
      box-shadow: 5px 5px 5px #8a72b9; }
      .petsContent .petPictures .flip-card .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d; }
        .petsContent .petPictures .flip-card .flip-card-inner:hover {
          transform: rotateY(180deg); }
      .petsContent .petPictures .flip-card .flip-card-front, .petsContent .petPictures .flip-card .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; }
      .petsContent .petPictures .flip-card .flip-card-front {
        background-color: #FFF2F2;
        color: black; }
        .petsContent .petPictures .flip-card .flip-card-front img {
          width: 400px;
          height: 400px;
          object-fit: cover; }
      .petsContent .petPictures .flip-card .flip-card-back {
        background-color: #FFF2F2;
        transform: rotateY(180deg);
        padding: 20px; }
        .petsContent .petPictures .flip-card .flip-card-back h1 {
          font-family: "Rockstyle";
          font-size: 3rem;
          color: #423064; }
        .petsContent .petPictures .flip-card .flip-card-back p {
          font-family: "Roboto";
          font-size: 1.5rem;
          color: black;
          text-align: center; }
        .petsContent .petPictures .flip-card .flip-card-back button {
          padding: 1.3em 3em;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          font-weight: 500;
          color: #423064;
          background-color: #FFF2F2;
          border: none;
          border-radius: 45px;
          box-shadow: 0px 8px 15px #8a72b9;
          transition: all 0.3s ease 0s;
          cursor: pointer;
          outline: none; }
          .petsContent .petPictures .flip-card .flip-card-back button:hover {
            background-color: #8a72b9;
            box-shadow: 0px 15px 20px #423064;
            color: #8a72b9;
            transform: translateY(-7px); }
          .petsContent .petPictures .flip-card .flip-card-back button:active {
            transform: translateY(-1px); }
          .petsContent .petPictures .flip-card .flip-card-back button a {
            text-decoration: none;
            color: #423064; }
            .petsContent .petPictures .flip-card .flip-card-back button a:hover {
              color: #FFF2F2; }

.firulais {
  background-color: #FFF2F2;
  padding: 10px;
  height: 100vh; }
  .firulais .petProfile {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; }
    .firulais .petProfile .firulaispic {
      border-style: solid;
      color: #423064;
      border-width: 3px;
      width: 35rem;
      margin-left: 30px; }
    .firulais .petProfile .firulaisCharact {
      font-family: "Roboto";
      font-size: 2rem;
      color: #423064;
      margin-left: 10px; }
  .firulais .sendmsg {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
    margin-bottom: 20px; }
    .firulais .sendmsg button {
      padding: 1.3em 3em;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #423064;
      background-color: #FFF2F2;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px #8a72b9;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none; }
      .firulais .sendmsg button:hover {
        background-color: #8a72b9;
        box-shadow: 0px 15px 20px #423064;
        color: #FFF2F2;
        transform: translateY(-7px); }
      .firulais .sendmsg button:active {
        transform: translateY(-1px); }

.recursosContent {
  display: grid;
  grid-template-areas: "veterinarias petshops";
  grid-row: 100%;
  align-items: center;
  justify-items: center; }
  .recursosContent .vetPet {
    border-style: dotted;
    border-radius: 300px;
    color: #423064;
    border-width: 4px;
    margin: 30px;
    transition: all 0.3s ease 0s; }
    .recursosContent .vetPet:hover {
      transform: translateY(-7px);
      box-shadow: 0px 8px 15px #8a72b9; }
  .recursosContent .veterinarias {
    grid-area: veterinarias; }
  .recursosContent .petshops {
    grid-area: petshops; }

.playlist {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  border: #423064;
  border-style: dotted;
  border-width: 3px; }
  .playlist iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.aboutUs {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-row: 50% 50%;
  text-align: center; }
  .aboutUs .aboutUs-content {
    grid-column: 2;
    grid-row: 1; }
    .aboutUs .aboutUs-content p {
      font-family: "Roboto";
      font-size: 2rem;
      color: black;
      text-align: justify; }
  .aboutUs .aboutUs-location {
    grid-column: 2;
    grid-row: 2; }
    .aboutUs .aboutUs-location .location {
      font-family: "Rockstyle";
      font-size: 2rem;
      color: #8a72b9;
      text-align: center; }
    .aboutUs .aboutUs-location .map {
      border-radius: 50px;
      width: 100%;
      height: 50vh; }

/* MEDIA QUERIES */
/* ALL PAGES */
@media screen and (max-width: 767px) {
  .navbar .offcanvas-body {
    background-color: #FFF2F2;
    background-image: none; }
  .navbar .nav-link {
    color: #8a72b9 !important; }
    .navbar .nav-link:hover {
      color: #423064 !important; }
  .name {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 25px; }
    .name .logo {
      width: 130px;
      margin: 0; }
    .name .title {
      font-size: 2.5rem; }
  .pageTitle {
    font-size: 2.5rem; } }

@media screen and (max-width: 1024px) {
  .pageTitle {
    font-size: 3rem; } }

/* INDEX */
@media screen and (max-width: 767px) {
  .carousel img {
    height: 300px; }
  .links {
    display: flex;
    flex-direction: column;
    gap: 20px; } }

@media screen and (max-width: 1024px) {
  .carousel img {
    height: 500px; }
  .links {
    display: flex;
    flex-direction: column;
    gap: 20px; } }

/* MASCOTAS */
@media screen and (max-width: 767px) {
  .petsContent {
    display: flex;
    flex-direction: column;
    margin: 20px; }
    .petsContent .petMenu {
      font-size: 1rem;
      height: fit-content; }
    .petsContent .petPictures {
      display: flex;
      flex-direction: column;
      align-content: center; }
      .petsContent .petPictures .flip-card {
        margin: 5px;
        width: 300px;
        height: 300px; }
        .petsContent .petPictures .flip-card .flip-card-front img {
          width: 300px;
          height: 300px; } }

@media screen and (max-width: 1024px) {
  .petsContent .petMenu {
    height: fit-content; }
  .petsContent .petPictures .flip-card {
    margin: 5px; } }

/* PERFIL MASCOTA */
@media screen and (max-width: 767px) {
  .firulais .petProfile {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .firulais .petProfile .firulaispic {
      width: 15rem; }
  .firulais .sendmsg {
    justify-content: center; } }

@media screen and (max-width: 1024px) {
  .firulais .petProfile {
    display: flex;
    flex-direction: column; }
    .firulais .petProfile .firulaispic {
      width: 20rem; }
  .firulais .sendmsg {
    justify-content: center; } }

/* RECURSOS */
@media screen and (max-width: 767px) {
  .recursosContent {
    display: flex;
    flex-direction: column; }
    .recursosContent .vetPet {
      width: 85%; } }

@media screen and (max-width: 1024px) {
  .recursosContent {
    display: flex;
    flex-direction: column; } }

/* SOBRE NOSOTROS */
@media screen and (max-width: 767px) {
  .aboutUs {
    grid-template-columns: 10% 80% 10%; }
    .aboutUs .aboutUs-content p {
      font-size: 1rem; }
    .aboutUs .aboutUs-location .map {
      width: 100%; } }

@media screen and (max-width: 1024px) {
  .aboutUs {
    grid-template-columns: 10% 80% 10%; } }

/* CONTACTO */
@media screen and (max-width: 767px) {
  .contacto {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 20px; } }

@media screen and (max-width: 1024px) {
  .contacto {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 20px; } }
