/* MEDIA QUERIES */

/* ALL PAGES */ 

@media screen and (max-width: 767px) {
    .navbar {
        .offcanvas-body {
            background-color: $Rosa-Pastel;
            background-image: none;
        }
        .nav-link  {
            color: $Lila !important;
                &:hover {
                    color: $Morado !important;
                }
        }
    }
    .name {
            display: flex;
            flex-direction: column;
            padding: 25px;
            margin-top: 25px;
                .logo {
                    width: 130px;
                    margin: 0;
                    }
                .title {
                    font-size: 2.5rem;
                    }
        }
    .pageTitle {
        font-size: 2rem;
    }
    
}

/* INDEX */

@media screen and (max-width: 767px) {
    
    .carousel {
        img {
            height: 300px; 
        }
    }

    .links { 
        display: flex;
        flex-direction: column;
        gap: 20px
    }
}
@media screen and (max-width: 1024px) {
    .carousel {
        img {
            height: 500px;
        }
    }
    .links { 
        display: flex;
        flex-direction: column;
        gap: 20px
    }
}

/* MASCOTAS */ 
@media screen and (max-width: 767px) {
    .petsContent { 
        display: flex;
        flex-direction: column;
        margin: 20px;
            .petMenu {
                font-size: 1rem;
            }
            .petPictures {
                display: flex;
                flex-direction: column;
                align-content: center;
                    .flip-card {
                        margin: 5px;
                        width: 300px;
                        height: 300px;
                            .flip-card-front {
                                img {
                                    width: 300px;
                                    height: 300px;
                                }
                            }
                    }
            }
    }  
}

/* PERFIL MASCOTA */

@media screen and (max-width: 767px) {
    .firulais {
        .petProfile {
            display: flex;
            flex-direction: column;
                .firulaispic {
                    width: 25rem;
                } 
        }
    } 
}

/* RECURSOS */ 

@media screen and (max-width: 767px) {
    .recursosContent { 
        display: flex;
        flex-direction: column;
        margin: 50px; 
    }
} 

@media screen and (max-width: 1024px) {
    .recursosContent { 
        display: flex;
        flex-direction: column;
        margin: 50px; 
        }
}
/* SOBRE NOSOTROS */ 

@media screen and (max-width: 767px) {
    .aboutUs {
        grid-template-columns: 10% 80% 10%; 
        .aboutUs-content {
            p {
                font-size: 1rem;
            } 
        }
        .aboutUs-location {
            .map {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .aboutUs {
        grid-template-columns: 10% 80% 10%;
    }
}

/* CONTACTO */ 

@media screen and (max-width: 767px) {
    .contacto {
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 1024px) {
    .contacto {
        display: flex;
        flex-direction: column;
    }
}


 