* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}


.html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'Rockstyle';
    src: url(../fonts/RockStyle.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}


/* Logo+Name */

header {
    background-image: linear-gradient(to right, #FFF2F2, #7D5EBB) ;
}

body {
    background-image: url(../images/background.png);
    opacity: 0.9;
}

footer {
    background-image: linear-gradient(to right, #7D5EBB, #FFF2F2, #7D5EBB) ;
    padding-bottom: 5px;
    padding-top: 7px;
} 

.name {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    padding-left: 20px;
}

.logo {
    width: 200px;
    margin-bottom: 25px;
}
.title {
    font-family: 'Rockstyle';
    font-size: 5rem;
    color: #423064;
}
.pageTitle {
    font-family: "Rockstyle";
    font-size: 3.5rem;
    color: #423064;
    padding-left: 30px;
    padding-top: 20px;
} 
@media screen and (max-width: 767px) {
    .logo {
        width: 130px;
        margin: 0;
    }
    .title {
        font-size: 2.5rem;
    }
    .pageTitle {
        font-size: 2rem;
    }
    .name {
        display: flex;
        flex-direction: column;
        padding: 25px;
        margin-top: 25px;
    }
}
/* Menu */

.navbar {
    background-image: linear-gradient(to right, #FFF2F2, #7D5EBB);
    box-shadow: 2px 2px 5px #FFF2F2;
}

.navbar-toggler {
    color: #FFF2F2 !important;
}

.offcanvas-body {
    background-image: linear-gradient(to right, #FFF2F2, #7D5EBB);
}
.nav-link  {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: #F6D8D8 !important;
}
.offcanvas-title {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: #7D5EBB;
}
/* Footer */

.social {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}
.social img {
    width: 50px;
    border-radius: 30px;
}

@media screen and (max-width: 767px) {
    .offcanvas-body {
        background-color: #FFF2F2;
        background-image: none;
    }
    .nav-link  {
        color: #7D5EBB !important;
    }
}
/* INDEX CONTENT */

.carousel img{
    width: auto;
    height: 700px;
    object-fit:cover;
}
.carousel h2, .carousel h3 {
    font-family: 'Roboto';
    color: #423064;
    text-shadow: 2px 2px 5px white;
}  

.links {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    justify-content: center;
    margin: 30px
    ;
}
.recursos {
    grid-row: 1;
    grid-column: 1;
}
.about-us {
    grid-row: 2;
    grid-column: 3;
}
.playlists {
    grid-row: 3;
    grid-column: 2;
}

.bordesRedondeados {
    width: 100%;
    border-radius: 300px;
    border-style: dotted;
    color: #423064;
    border-width: 4px;
}
@media screen and (max-width: 767px) {
    .links { 
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .carousel img {
        height: 300px;
    }
}
@media screen and (max-width: 1024px) {
    .carousel img {
        height: 500px;
    }
}

/* MASCOTAS CONTENT */

.petsContent {
    display: grid;
    grid-template-areas: 
        "list pets pets pets"
        "list pets pets pets"
        "list pets pets pets";
    
}

.petMenu {
    grid-area: list;
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: #7D5EBB;
    margin-left: 40px;
    
}

 a { 
    color: #7D5EBB;
    text-decoration: none;
 }

 ul { 
    list-style: none;
 }

 .petAge {
    margin-left: 10px;
 }


.petPictures {
    grid-area: pets;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin: 20px;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    margin: 10px;
    box-shadow: 5px 5px 5px #7D5EBB;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #FFF2F2;
    color: black;
  }
  
  .flip-card-front img {
      width: 400px;
      height: 400px;
      object-fit:cover;
  }
  
  .flip-card-back {
    background-color: #FFF2F2;
    transform: rotateY(180deg);

  }
  .flip-card-back h1 {
    font-family: "Rockstyle";
    font-size: 3rem;
    color: #423064;
  }
  .flip-card-back p {
    font-family: "Roboto";
    font-size: 2rem;
    color: black;
    text-align: center;
  }
  .flip-card-back a {
    font-family: "Roboto";
    font-size: 2rem;
    color: #423064;

  }
@media screen and (max-width: 767px) {
    .petsContent { 
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .petMenu {
        font-size: 1rem;
    }
    .petPictures {
        display: flex;
        flex-direction: column;
    }
    .flip-card {
        margin: 5px;
        width: 300px;
        height: 300px;
    }
    .flip-card-front img {
        width: 300px;
        height: 300px;
    }
}
/* FIRULAIS CONTENT 

Revisar para armar una Tarjeta*/

.firulais {
    background-color: #B7A7D6;
    padding: 10px;
}
.petProfile {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.firulaispic {
    border-style: solid;
    color: #423064;
    border-width: 3px;
    width: 35rem;
    margin-left: 50px ;
}

.firulaisCharact {
    font-family: "Roboto";
    font-size: 2rem;
    color: #423064;
    margin-left: 10px;
}

.sendmsg { 
    display: flex; 
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .petProfile {
        display: flex;
        flex-direction: column;}

    .firulaispic {
        width: 25rem;
    } 
}
/* RECURSOS CONTENT */
.recursosContent {
    display: grid;
    grid-template-areas: 
        "veterinarias petshops";
    grid-row: 100%;
    align-items: center;
    justify-items: center;
}

.vetPet {
    border-style: dotted;
    border-radius: 300px;
    color: #423064;
    border-width: 4px;
    margin: 30px;
}

.veterinarias {
    grid-area: veterinarias;
}

.petshops {
    grid-area: petshops;
}

.playlist {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    border: #423064;
    border-style: dotted;
    border-width: 3px;
  }
  
.playlist iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .recursosContent { 
    display: flex;
    flex-direction: column;
    margin: 10px; }
} 
/* ABOUT US CONTENT */

.aboutUs {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row: 50% 50%;
    text-align: center;
}

.aboutUs-content {
    grid-column: 2;
    grid-row: 1;
}

.aboutUs-location {
    grid-column: 2;
    grid-row: 2;
}

p {
    font-family: 'Roboto';
    font-size: 2rem;
    color:black;
    text-align: justify;
}

.location {
    font-family: 'Rockstyle';
    font-size: 2rem;
    color: #7D5EBB;
    text-align: center;
}

.map {
    border-radius: 50px;
    border-style: dotted;
    color: #423064;
    width: 100%;
    height: 50vh;
}

@media screen and (max-width: 767px) {
    p {font-size: 1rem;}
    .map {
        width: 100%;
    }
}


/* CONTACTO CONTENT */
.contacto {
    display: grid;
    grid-template-areas: 
        "contacto registro";
    margin: 15px;
}
.contacto .row {
    padding: 5px;
    align-items: center;
}

.formularioContacto {
    grid-area: contacto;
    font-family: 'Roboto';
    font-size: 1.2rem;
    color: black;
    background-color: #B7A7D6;
    padding: 10px;
}

.formularioRegistro {
    grid-area: registro;
    font-family: 'Roboto';
    font-size: 1.2rem;
    color: black;
    background-color: #F6D8D8;
    padding: 10px;
}


@media screen and (max-width: 767px) {
    .contacto {
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 1024px) {
    .contacto {
        display: flex;
        flex-direction: column;
    }
}
/* ........... */
