header {
    background-image: linear-gradient(to right, $Rosa, $Lila) ;
}


.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-left: 20px;

        .logo {
            width: 200px;
            margin-bottom: 25px;
        }

        .title {
            font-family: $fuente-titulos;
            font-size: 5rem;
            color: $Morado;
        }
        a {
            text-decoration: none;
        }
}


.pageTitle {
    font-family: map-get($map: $pagetitle, $key: Fuente );
    font-size: map-get($map: $pagetitle, $key: Tfuente );
    color: map-get($map: $pagetitle, $key: color);
    padding-left: 30px;
    padding-top: 20px;
} 


