header {
    background-image: linear-gradient(to right, $Rosa-Pastel, $Lila) ;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    padding-left: 20px;

        .logo {
            width: 200px;
            margin-bottom: 25px;
        }

        .title {
            font-family: $fuente-titulos;
            font-size: 5rem;
            color: $Morado;
        }
}

.pageTitle {
    font-family: $fuente-titulos;
    font-size: 3.5rem;
    color: $Morado;
    padding-left: 30px;
    padding-top: 20px;
} 


