.firulais {
    background-color: $Rosa-Pastel;
    padding: 10px;
    height: 100vh;
        .petProfile {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
                .firulaispic {
                    border-style: solid;
                    color: $Morado;
                    border-width: 3px;
                    width: 35rem;
                    margin-left: 30px ;
                }
                .firulaisCharact {
                    font-family: $fuente-secundaria;
                    font-size: 2rem;
                    color: $Morado;
                    margin-left: 10px;
                }               
        }
        .sendmsg { 
            display: flex; 
            flex-direction: row;
            justify-content: end;
            margin-right: 20px;
            margin-bottom: 20px;
                button {
                    padding: 1.3em 3em;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 2.5px;
                    font-weight: 500;
                    color: $Morado;
                    background-color: $Rosa-Pastel;
                    border: none;
                    border-radius: 45px;
                    box-shadow: 0px 8px 15px $Lila;
                    transition: all 0.3s ease 0s;
                    cursor: pointer;
                    outline: none;
                        &:hover {
                            background-color: $Lila;
                            box-shadow: 0px 15px 20px $Morado;
                            color: $Rosa-Pastel;
                            transform: translateY(-7px);
                        }
                        &:active {
                            transform: translateY(-1px);
                        }
                }        
        }   
}





