.links {
    display: grid;
    grid-template-areas: 
     "recursos about-us playlists";
    align-items: center;
    justify-items: center;
    margin: 30px;
        .recursos {
            grid-area: recursos;
        }
        .about-us {
            grid-area: about-us;
        }
        .playlists {
            grid-area: playlists;
        }
        .bordesRedondeados {
            width: 80%;
            border-radius: 300px;
            border-style: dotted;
            color: $Morado;
            border-width: 4px; 
            transition: all 0.3s ease 0s;
                &:hover {
                    transform: translateY(-7px);
                    box-shadow: 0px 8px 15px $Lila;
                }       
        }
}